.titles-sections{
    margin-top: 70px;
    margin-bottom: 70px;
    h1 {
        font-size: 5em;
        font-family: 'Roboto', monospace;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.25em;
    }
}