body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: $bg-color;
    color: $white-ligth;
}

img {
    max-width: 100%;
}

footer {
    padding: 40px 0;
    width: 100%;
    background: $header-color;
}

h3 {
    margin-bottom: 2.5em;
}

a {
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
}